main {
  position: relative;
}

/* 필요한 다른 굵기도 같은 방식으로 추가할 수 있습니다. */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
  font-size: 32px;
}

.light {
  font-weight: 300;
}

.home_1 {
  width: 1440px;
  height: auto;
  margin-top: 55px;
}

.home_2 {
  width: 1440px;
  height: auto;
}

.insta-link {
  position: absolute;
  text-decoration: none;
  top: 55px;
  right: 99px;
  font-size: 38px;
  color: #a4a4a4;
}